@use '../../utils/style/colors' as *;
@use '../../utils/style/breakpoints' as *;

.dropdown {
    color: $white;
    margin-bottom: 20px;
    animation: fadeInUp 500ms ease-in-out;

    &__button {
        border-radius: 5px;
        background-color: $primary-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        cursor: pointer;
        position: relative;
        z-index: 1;

        @include media-query(small) {
            height: 38px;
        }
        @include media-query(medium) {
            height: 46px;
            border-radius: 10px;
        }
        @include media-query(large) {
            height: 52px;
        }
    }

    &__title {
        font-size: 13px;
        font-weight: 500;
        margin-left: 12px;
        text-transform: capitalize;
        pointer-events: none;
        @include media-query(medium) {
            font-size: 15px;
        }
        @include media-query(large) {
            font-size: 18px;
        }
    }

    &__arrow {
        margin-right: 12px;
        pointer-events: none;
        transform: rotate(0deg);
        transition: transform 300ms;
        @include media-query(medium) {
            height: 13px;
        }
        @include media-query(large) {
            height: 17px;
        }
    }
    &__content {
        color: $primary-color;
        background-color: $light-grey;
        border-radius: 5px;
        margin-top: -5px;
        z-index: -1;
        max-height: 0;
        transition: max-height 250ms ease-out, padding 300ms ease-out;
        overflow: hidden;
        padding-left: 12px;
    }
    &__text {
        margin: 0;
        font-size: 12px;
        @include media-query(medium) {
            font-size: 14px;
        }
        @include media-query(large) {
            font-size: 18px;
        }
    }
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 12px;
        @include media-query(medium) {
            font-size: 14px;
        }
        @include media-query(large) {
            font-size: 18px;
        }
    }
    &__list-element {
        margin-bottom: 3px;
    }
}

.show {
    max-height: 500px;
    padding: 24px 12px 12px 12px;
    transition: max-height 250ms ease-in-out, padding 300ms ease-in-out;
}

.rotate {
    transform: rotate(180deg);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

$dropdowns: 'fiability', 'respect', 'service', 'security';
@for $i from 1 through length($dropdowns) {
    .dropdown__#{nth($dropdowns, $i)} {
        $delay: 120ms * $i;
        animation: show-up 600ms $delay both;
        transform-origin: bottom;
    }
}

@keyframes show-up {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
