.dropdown {
    color: #fff;
    margin-bottom: 20px;
}
.dropdown__button {
    border-radius: 5px;
    background-color: #ff6060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.dropdown__title {
    font-size: 13px;
    font-weight: 500;
    margin-left: 12px;
    text-transform: capitalize;
    pointer-events: none;
}

.drowdown__arrow {
    margin-right: 12px;
    pointer-events: none;
    transform: rotate(0deg);
    transition: transform 300ms;
}

.dropdown__content {
    color: #ff6060;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-top: -5px;
    z-index: -1;
    max-height: 0;
    transition: max-height 250ms ease-out, padding 300ms ease-out;
    overflow: hidden;
    padding-left: 12px;
}
.dropdown__text {
    margin: 0;
}
.show {
    max-height: 500px;
    padding: 24px 12px 12px 12px;
    transition: max-height 250ms ease-in-out, padding 300ms ease-in-out;
}

.rotate {
    transform: rotate(180deg);
}
