@use '../../utils/style/colors' as *;

.housing {
    margin: 0 5%;
    color: $primary-color;

    &__title {
        font-size: 18px;
        font-weight: 500;
    }
    &__location {
        font-size: 14px;
        font-weight: 500;
    }
    &__tags {
        display: flex;
        flex-wrap: wrap;
    }
    &__rating-and-host {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
    }
}
