.footer {
    background: #000;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__text {
    color: #fff;
    font-weight: 500;
}
